* {
  scroll-behavior: smooth;
  --header-font-family: Tahoma, Verdana;
  --content-font-family: Georgia;
  --header-font-size: 1.8em;
  --navbar-font-size: 1em;
  --content-font-size: 1em;
  --content-header-font-size: 1.2em;
}

main {
  width: 100%;
}

#main-doc {
  width: 100%;
  display: flex;
  background-color: chartreuse;
  margin: 0;
}

#navbar {
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: aquamarine;
  border-right: 2px solid black;
  overflow-x: hidden;
  overflow-y: auto;
}

.main-section {
  margin: 0, 20px;
}

.nav-header,
.header {
  font-family: var(--header-font-family);
  font-size: var(--header-font-size);
  font-weight: 500;
}

.nav-header {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-border {
  font-family: var(--content-font-family);
  font-size: var(--content-font-size);
}

.nav-link {
  width: 100%;
  color: black;
  text-decoration: none;
  border-top: 1px solid black;
}

.divider {
  width: 100%;
  border-top: 1px solid black;
}

.nav-header,
.nav-border {
  margin-left: 10px;
}

.header {
  margin-top: 15px;
  margin-bottom: 0px;
}

#content {
  width: 70%;
  background-color: bisque;
  overflow-x: hidden;
}

.content-header {
  font-family: var(--header-font-family);
  font-size: var(--content-header-font-size);
  margin-left: 10px;
}

.main-section {
  margin: 10px 20px;
}

p:not([class]),
ul:not([class]) {
  font-family: var(--content-font-family);
  font-size: var(--content-font-size);
  margin-left: 10px;
}

.code-box {
  display: flex;
  overflow-x: scroll;
  /* width: 95%; */
  background-color: black;
  color: white;
  margin-left: 10px;
}

img {
  width: 400px;
  margin-left: 10px;
}

img[class~="semantic"] {
  width: 250px;
}

/* p:not([class]) {
    text-indent: 25px;
} */
