* {
  scroll-behavior: smooth;
  --header-font-family: Tahoma, Verdana;
  --content-font-family: Arial;
  --header-font-size: 1.8em;
  --content-header-font-size: 1.1em;
  --navbar-font-size: 1em;
  --content-font-size: 1em;
  --header-font-color: #111111;
  --content-font-color: #555555;
  line-height: 1.5;
}

#main-doc {
  width: 100%;
  display: flex;
}

#nav-bar {
  display: flex;
  flex-direction: column;
  width: 25%;
  border-right: 2px solid var(--content-font-color);
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.main-section {
  margin: 0, 20px;
}

.nav-header,
.header,
.content-header,
.list-header {
  color: var(--header-font-color);
}

.nav-header,
.header {
  font-family: var(--header-font-family);
  font-size: var(--header-font-size);
  font-weight: 500;
}

.nav-header {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-border {
  font-family: var(--content-font-family);
  font-size: var(--content-font-size);
}

.nav-link {
  width: 100%;
  text-decoration: none;
  color: var(--content-font-color);
  border-top: 1.5px solid var(--header-font-color);
}

.nav-link:last-of-type {
  border-bottom: 1.5px solid var(--header-font-color);
}

.nav-header,
.nav-border {
  margin-left: 10px;
}

.header {
  margin-top: 15px;
  margin-bottom: 0px;
}

#content {
  width: 75%;
  overflow-x: hidden;
  position: absolute;
  left: 25%;
}

.content-header {
  font-family: var(--header-font-family);
  font-size: var(--content-header-font-size);
  margin-left: 10px;
}

ul > li {
  padding: 5px;
}

.main-section {
  margin: 10px 20px;
}

p:not([class]),
ul:not([class]) {
  font-family: var(--content-font-family);
  font-size: var(--content-font-size);
  color: var(--content-font-color);
  margin-left: 10px;
}

.code-box {
  display: flex;
  overflow-x: scroll;
  background-color: #444444;
  color: white;
  margin-left: 10px;
}

img {
  width: 400px;
  margin-left: 10px;
}

img[class~="semantic"] {
  width: 250px;
}

@media (max-width: 720px) {
  #main-doc {
    display: flex;
    flex-direction: column;
  }

  #nav-bar {
    width: 100%;
    height: 250px;
    display: flex;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    border: 2px solid var(--content-font-color);
  }

  .nav-link:last-of-type {
    border-bottom: 0;
  }

  #content {
    width: 100%;
    position: absolute;
    top: 250px;
    left: 0;
  }
}
